<%- include("partials/header"); -%>

<h1>Compose</h1>

<p> <%=  %> </p>
<input type="text" name="compuse" value="">
<button type="button" name="button">Publish</button>

<%- include("partials/footer"); -%>
